@{
    ViewData["Title"] = "Home Page";
}

<div style="width:30%;margin-top:100px;" class="bg-light p-4 mx-auto">
    <h1> Student Login</h1>
    <form asp-action="Login" asp-controller="Home" method="post">
        <div class="mb-4">
            <label for="username" class="mb-2">Email</label><br />
            <input name="username" placeholder="example@gmail.com" class="w-100 form-control" />
        </div>
        <div class="mb-4">
            <label for="password" class="mb-2">Password</label><br />
            <input name="password" placeholder="********" class="w-100 form-control" />
        </div>
        <div class="mb-4">
            <input type="submit" value="Login" class="btn btn-primary mb-2 w-100" />
        </div>
    </form>
</div>

<style>
    body {
        background-image: url("~/images/loginbackground.jpg");
        background-size: 100%;
    }
</style>