@{
    ViewData["Title"] = "Login";
}
<link href="~/css/login.css" rel="stylesheet" />


<div class="loginForm p-4 ">
    <h3 class="blueText"> Մուտք Համակարգ </h3>
    <form asp-action="Login" asp-controller="Home" method="post">
        <div class="mb-4">
            <label for="username" class="mb-2 blueText">Էլ․ հասցե</label><br />
            <input name="username" placeholder="example@gmail.com" class="loginInput form-control" />
        </div>
        <div class="mb-4">
            <label for="password" class="mb-2 blueText">Գաղտնաբառ</label><br />
            <input name="password" placeholder="********" class="loginInput form-control" />
        </div>
        <div class="mb-4">
            <input type="submit" value="Մուտք" class="loginButton btn btn-primary mb-2 w-100" />
        </div>
    </form>
</div>
