.flexDivHeader {
    width: 20%;
    height: 100%;
    background-color: #305397;
    color: #ffffff;
    position: fixed;
    top: 0px;
    left: 0px;
}

a {
    text-decoration: none;
}

.flexDivContent{
    width:75%;
    margin-left:23%;
}

header {
    width: 100%;
}

header div{
    width: 100%;
    padding: 5px;
    cursor: pointer;
    margin-bottom:10px;
}

header div:hover {
    background-color: #DCE4ED;
    color: #305397;
}
